.createpost-container{
    width: 50rem;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: rgb(157, 205, 248);
    border: 2px solid red;
}

select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0  , 0, 0, 0.3);
}

textarea{
    width: 80%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
}

.cc-btn{
    width: 150px;
    display: block;
    box-shadow: 0px 2px 5px rgba(0  , 0, 0, 0.3);
}