
.blur{
  overflow: hidden;
  padding: 1rem;
  color: black;
  background-color: #e92b2b;
  position: relative;
 
}

.blurpart{
  z-index: 2;
  position: absolute;
  width: 200px;
  height: 500px;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}